- status = locals[:status]
- children_count = locals[:children_count]

.task-box.project-task-box{class: "task-#{status}"}
  .row
    .col-sm-1.project-task-box-stats
      %label.project-task-box-checkbox.pull-left
        %input{type: 'checkbox'}

      .project-task-box-level.pull-right
        = 1 + rand(2000)
      .clearfix
      - if children_count > 0
        %a.project-task-box-child-counter.pull-left{:href => "#"}
          2
      = link_to "#", role: :tooltip, data: {'original-title' => 'Добавить подзадачу'}, class: 'project-task-box-add-subtask-btn pull-right' do
        %i.icon-plus
      .clearfix
    .col-lg-6.col-sm-5
      .task-box-description-block{"data-status" => "#{status}", :role => "project-task-box-description"}
        %h4.task-box-title-block{"data-href" => "/tasks/10", :role => "project-task-title"}
          %span.title
            test test test task
        %span.text-muted
          Chelny01
          | Изменилась 2 июля
        &nbsp;
        %span.label.label-default
          Просмотрена

    .col-sm-3
      %h4.task-box-title-block
        %span.small
          \#10
        %span -
        %small.user.task-box-user
          Александр Владимирогородский
    .col-lg-2.col-sm-3
      .row
        .col-lg-8.col-sm-6
          .task-box-status-block.pull-right
            .status-date.task-box-status-date
              %span.day
                12
                %sup.task-box-status-date-days
                  2 дн.
              %span.month
                июль
          .clearfix
        .col-lg-4.col-sm-6
          .dropdown
            = link_to '#', data: {toggle: 'dropdown', placement: 'bottom'}, class: 'btn btn-sm'  do
              %i.fa.fa-bars.icon-color-gray-light
            %ul.dropdown-menu
              %li
                = link_to '#'  do
                  %i.icon-pencil.icon-color-gray-light
                  &nbsp;
                  Редактировать
              %li
                = link_to 'javascript:confirm("Удалить задачу?");' do
                  %i.fa.fa-times.icon-size-14.icon-color-gray-light
                  &nbsp;
                  Удалить
              %li
                = link_to 'javascript:confirm("Удалить задачу?");' do
                  %i.fa.fa-arrow-right.icon-size-14.icon-color-gray-light
                  &nbsp;
                  В задачу



        -#%span Редактировать

        -# .settings.pull-left
          %section
            -#.popup
              .list
                %i.icon-reorder
              -#%ul
                %li.edit
                  %a
                    %i.icon-pencil
                    %span Редактировать
            -#.position
              %a.up{"data-method" => "put", :href => "/projects/879/tasks/60979/change_position?up=true", :rel => "nofollow"}
                %i.icon-chevron-up
              %br
              %a.down{"data-method" => "put", :href => "/projects/879/tasks/60979/change_position?down=true", :rel => "nofollow"}
                %i.icon-chevron-down
