- status = locals[:status]
- status_accented = locals[:status_accented]
- children_count = locals[:children_count]
- number = locals[:number] || "1.1"
- is_root = locals[:is_root] || false
- project_id = 1 + rand(1000)

.task-box.project-task-box{class: "task-#{status} task-#{status_accented}", role: 'jump project-task-box', data: {href: '../../../tasks/show', project_id: project_id}}
  .project-task-box-controls
    %label.project-task-box-checkbox
      %input{type: 'checkbox'}
    .project-task-box-level
      = number
  - if is_root
    .project-task-box-add-subtask-btn-block
      = link_to "#", role: :tooltip, data: {'original-title' => 'Добавить подзадачу'}, class: 'project-task-box-add-subtask-btn' do
        %i.icon-plus
  .project-task-box-content{"data-status" => "#{status}", :role => "project-task-box-description"}
    .project-task-box-title-block{"data-href" => "/tasks/show", :role => "project-task-title"}
      %a.task-box-title-block-link{href: '/tasks/show'}
        Оптимизация стилей по устранению проблемы фиксированного блока добавления комментария на планшетах и смартфонах
    - if data.task.status[status].present?
      %span.label{class: "label-#{data.task.status[status].css_class}"}
        = data.task.status[status].title
      &nbsp;&nbsp;
    %span.ui-sortable-handle
      Александр Мещеряков 
      &nbsp;&nbsp;
      %i.fa.fa-comments-o.icon-size-14
      14
    - unless ['draft', 'completed', 'new'].include?(status)
      .project-task-box-progress-block
        .progress.project-task-box-progress.ui-sortable-handle
          .progress-bar.progress-bar-primary.ui-sortable-handle{"aria-valuemax" => "100", "aria-valuemin" => "0", :style => "width: 0%"}
          .progress-bar.progress-bar-danger.ui-sortable-handle{"aria-valuemax" => "100", "aria-valuemin" => "0", :style => "width: 75.80645161290322%"}
        %span 60/50%
        &nbsp;&nbsp;
        %strong.text-color-danger{role: 'tooltip', data: {'original-title' => 'негативный прогноз по дедлайну', delay: 200}}
          %i.fa.fa-warning

  .project-task-box-status-block{role: 'project-task-box-status-block'}
    .row
      .col-xs-6.col-collapse
        .status-date.project-task-box-status-date
          .day 12
          .month
            февраля
      .col-xs-6.col-collapse
        .task-box-status-date-hypen
          %i.fa.fa-angle-right.icon-color-gray-light
        .status-date.task-box-status-date
          .day 22
          сентября
  .project-task-box-actions.dropdown.pull-right
    = link_to '#', data: {toggle: 'dropdown', placement: 'bottom'}, class: 'project-task-box-actions-btn'  do
      %i.fa.fa-pencil.icon-color-gray-light
    %ul.dropdown-menu
      %li
        = link_to '#', role: 'project-task-box-edit-task-btn', data: {project_id: project_id}  do
          %i.icon-pencil.icon-color-gray-light
          &nbsp;
          Редактировать
      %li
        = link_to 'javascript:confirm("Удалить задачу?");' do
          %i.fa.fa-times.icon-size-14.icon-color-gray-light
          &nbsp;
          Удалить
      %li
        = link_to '#' do
          %i.fa.fa-arrow-right.icon-size-14.icon-color-gray-light
          &nbsp;
          Черновик
          %i.fa.fa-angle-right
          Задача
  .clearfix

.task-box.project-task-box-form.hide{role: 'project-task-box-form', data: {project_id: project_id}}
  .col-lg-10.col-lg-offset-1
    = partial 'projects/tasks/form', locals: {project_id: project_id}



