- status = locals[:status]
- root_number = locals[:root_number]

.project-task-view.project-task-view-initialized{"data-id" => "10", "data-status" => status, class: "#{status}"}
  = partial 'projects/tasks/item_body', locals: {status: status, children_count: 4,  number: root_number, is_root: true}
  .edit-task-form.project-task-form.project-task-form-initialized{"data-url" => "/projects/1/tasks/10/edit", :style => "display: none;"}
  .new-subtask-form.project-task-form.project-task-form-initialized{"data-url" => "/projects/1/tasks/new?parent_id=10", :style => "display: none;"}
  %ol.project-tasks-list.project-task-view-subtasks-list
    - statuses = ['draft', 'overdued', 'completed', 'new']
    - statuses.each_with_index do |status, i|
      %li.project-tasks-list-item
        %div
          .project-task-view.project-task-view-initialized{"data-id" => "10", "data-status" => status, class: "#{status}"}
            = partial 'projects/tasks/item_body', locals: {status: status, children_count: 0, number: "#{root_number}.#{i + 1}"}
            .edit-task-form.project-task-form.project-task-form-initialized{"data-url" => "/projects/1/tasks/10/edit", :style => "display: none;"}
            .new-subtask-form.project-task-form.project-task-form-initialized{"data-url" => "/projects/1/tasks/new?parent_id=10", :style => "display: none;"}



