- statuses = ['draft', 'overdued', 'completed', 'new']
%ol.project-tasks-list-sortable
  .hide{role: 'project-tasks-list-new-task'}
    = partial 'projects/tasks/new'
  - statuses.each_with_index do |status, i|
    .project-tasks-group-header{role: 'project-group-header'}
      %div{role: 'project-group-header-content'}
        %h4.project-tasks-group-title
          = "Группа #{i+1}"
      .project-group-header-form.hide{role: 'project-group-header-form'}
        %form.form-horizontal
          .row
            .col-sm-3
              %input.form-control{type: 'text', value: "Группа #{i+1}", required: 'required', placeholder: 'Название группы задач', autofocus: 'autofocus'}
            .col-sm-2
              = partial 'shared/select2', locals: {title: 'Исполнитель'}
            .col-sm-3
              .input-group-inline
                .input-group{role: 'tooltip', data: {'original-title' => 'Срок выполнения'}}
                  %input.date-input.zebra-date-picker.form-control{"data-pair" => "input-end-date", "data-show-clear-date" => "false", "data-zdp_format" => "d.m.Y", :readonly => "readonly", "role-zebra-date-picker" => "ready", :type => "text", :value => "22.08.2014"}
                  .input-group-addon
                    .fa.fa-calendar-o.fa-lg
            .col-sm-4
              .row
                .col-xs-4
                  = link_to 'Сохранить', '', class: 'btn btn-success', role: 'project-group-header-form-close'
                .col-xs-4
                  = link_to 'Отменить', '', class: 'btn link-gray-light', role: 'project-group-header-form-close'
                .col-xs-4
                  = link_to 'Удалить', '', class: 'btn link-danger', role: 'project-group-header-form-close'


    %li.project-tasks-group
      %div
        .project-tasks-group-content
          = partial 'projects/tasks/item', locals: {status: status, root_number: (i+1)}



