.task-box.project-task-box.project-task-box-template
  .row{role: 'project-task-box-template-form'}
    .col-sm-3
      .task-box-description-block{:role => "project-task-box-description"}
        %input.form-control{type: 'text', placeholder: 'Название задачи'}
    .col-sm-3
      = partial 'shared/select2', locals: {title: 'Выберите исполнителя'}
    .col-sm-4
      .input-group-inline
        .input-group{role: 'datetimepicker tooltip', data: {'original-title' => 'Срок выполнения'}}
          %input.form-control{type: 'text'}
          .input-group-addon
            .fa.fa-calendar-o.fa-lg
    .col-sm-2
      .pull-right= link_to 'Добавить задачу', '', class: 'btn btn-success', role: 'project-tasks-list-task-form-close'
      .clearfix
    
  .pull-left
    = link_to '#', class: 'btn btn-link', role: 'project-task-box-edit-task-btn', data: {project_id: 'new'}  do
      Больше параметров&hellip;
    %a.btn.btn-link{:href => "/tasks/2330", role: 'project-task-box-form-close', data: {project_id: 'new'}, style: 'display: none;'} Скрыть дополнительные параметры

  .pull-right= link_to 'Отменить', '', class: 'btn link-gray-light', role: 'project-tasks-list-task-form-close'
  .clearfix

  .task-box.project-task-box-form.hide{role: 'project-task-box-form', data: {project_id: 'new'}}
    .col-lg-10.col-lg-offset-1
      = partial 'projects/tasks/form', locals: {project_id: 'new'}


         
