---
body_class: notifications-index
---

= partial 'shared/header'
.content.content-global.display-mode{"data-initial-action" => "index", :filters => "false", :full_view => "false", :list => "true", "role-display-mode" => "ready", :view => "false"}
  = partial 'notifications/top_panel'
  = partial 'shared/navigation', locals: {active: 'notifications'}
  -#%section.view-column.content-column-block-under-top-panel.notifications-list-column{"data-channel" => "presence-4:notifications", "data-url" => "/notifications", "role-notifications-list-column" => "ready"}
  %section.list-column.notifications-list-column{"data-channel" => "presence-4:notifications", "data-url" => "/notifications", "role-notifications-list-column" => "ready"}
    .container-fluid
      - ['Сегодня', 'Вчера', '20 октября'].each do |date|
        %h4.notifications-list-column-title
          = date
        - types = {'Проект' => 'создал обсуждение в проекте', 'Задача' => 'написал комментарий', 'Сообщество' => 'приглашает вас вступить в сообщество'}
        - types.each_pair do |type, type_activity|
          - children_count = 2 + rand(10)
          - ['', 'new'].each do |status|
            = partial 'notifications/list/list_item', locals: {type: type, type_activity: type_activity, status: status, children_count: children_count}
            = partial 'notifications/list/list_item', locals: {type: type, type_activity: type_activity, status: status, children_count: 0}
