---
body_class: calendar-show
nav_item: calendar
---

.application-content
  .application-content-block{role: 'application-content-block'}
    %section.calendar-content-column{"data-channel" => "private-project-879:update", "data-channel-template" => "private-project-%id%:update", "data-id" => "879", "data-url" => "/projects"}
      .calendar-block-container{role: 'calendar-container'}
        .form-group.form-inline
          %select{role: 'multiselect-calendar-communities', :tabindex => "-1", multiple: 'multiple'}
            %option{selected: 'selected'} Iq300
            - for i in 1..6
              - caption = "Сообщество #{i} Управление организационно-аналитической и правовой работы аппарата Мэра (Городского Совета)"
              %option= truncate(caption, length: 30)

          %select{role: 'multiselect-calendar-users', :tabindex => "-1", multiple: 'multiple'}
            - filter_users = "Ильнур Газизуллин, Шамиль Хамадеев, Эльвир Нуриахметов, Ахмед Сарсенбайулов-Алтынбеков".split(', ')
            - for i in 0..2
              - filter_users.each do |user|
                %option
                  -#= "#{user.split(' ')[0][0]}. #{truncate(user.split(' ')[1..-1].join(' '), length: 12)}"
                  = user

        .checkbox.pull-right
          %label
            %input{type: :checkbox}
              Скрыть дедлайн задач
        .clearfix

        .calendar-block{role: 'fullcalendar', data: {'events' => "#{build? ? '../events.json' : '/events.json'}"}}
