%section.tree.project-tasks-list.project-tasks-list-initialized.project-tasks-list-show-groups{role: 'project-tasks-list'}
  .navbar.navbar-default.list-panel-container-block
    .row
      .col-sm-8
        %form.navbar-form.navbar-left
          .form-group
            .checkbox.list-panel-checkbox
              %label{role: 'project-tasks-list-select-all'}
                %input.list-panel-checkbox-input{type: 'checkbox'}
                Выбрать все
            .checkbox.list-panel-checkbox
              %label{role: 'project-tasks-list-toggle-groups'}
                %input.list-panel-checkbox-input{type: 'checkbox'}
                Скрыть группы
          %select.form-control.input-sm
            - tasks_filter = ['Все задачи', 'К выполнению', 'Завершённые', 'Черновики', 'Задачи на сегодня']
            %option{selected: 'selected'} Все задачи
            - tasks_filter.each do |f|
              %option= f
          &nbsp;
          %select.form-control.input-sm
            - tasks_filter = "По статусу, По исполнителям, По дедлайну".split(', ')
            %option{selected: 'selected'} Без группировки
            - tasks_filter.each do |f|
              %option= f
          &nbsp;
          -#%a.btn.btn-default{href: '#'}
            %i.fa.fa-user
            Все
        .navbar-form.navbar-left{ style: 'position: relative; padding: 0;'}
          %a.btn.btn-warning{href: '#'}
            %i.fa.fa-user
            3
          .popover.bottom{style: 'display: block; margin-left: -80px; margin-top: 40px;'}
            .arrow
            .popover-content{style: 'max-height: 250px; overflow-y: auto;'}
              %a.btn-block.btn-link-plain Все исполнители
              %a.btn-block.btn-link-plain Мои задачи
              %hr
              .content-group
                %input.form-control{type: 'text', placeholder: 'Добавить исполнителя'}
              - filter_users = "Ильнур Газизуллин, Шамиль Хамадеев, Эльвир Нуриахметов".split(', ')
              - for i in 0..2
                - filter_users.each do |user|
                  %a.btn-block.btn-link-plain
                    = user
                    &nbsp;
                    %i.fa.fa-times-circle.icon-size-18.pull-right


      .col-sm-4
        .navbar-form.navbar-right
          = link_to 'Добавить веху', '#', class: 'btn btn-default btn-sm'
          &nbsp;&nbsp;
          = link_to 'Добавить задачу', '#', class: 'btn btn-default btn-sm', role: 'project-tasks-list-add-task-btn'
        .clearfix
      .col-sm-12
        .navbar-form
          -#.row
            .col-sm-10
              - filter_users = "Ильнур Газизуллин, Шамиль Хамадеев, Эльвир Нуриахметов".split(', ')
              - for i in 0..2
                - filter_users.each do |user|
                  %a.btn.btn-sm.btn-link-plain
                    = user
                    &nbsp;
                    %i.fa.fa-times-circle.icon-size-18
            .col-sm-2
              %a.btn.btn-sm.btn-outline-gray.pull-right
                Сбросить фильтр по исполнителям
              .clearfix

    .project-group-header-actions-fixed.hide{role: 'project-group-header-actions'}
      .navbar-form.navbar-left
        = link_to 'Преобразовать в задачу', '#', class: 'btn btn-default btn-sm'
      .navbar-form.navbar-left
        = link_to 'Отменить', '#', class: 'btn btn-default btn-sm'
      .navbar-form.navbar-left
        = link_to 'Преобразовать в черновик', '#', class: 'btn btn-default btn-sm'
      .navbar-form.navbar-left.pull-right
        %select.form-control.input-sm
          - tasks_filter = ['Группа 2', 'Группа 3', 'Группа 4']
          %option{selected: 'selected'} Изменить группу
          - tasks_filter.each do |f|
            %option= f
      .clearfix





  %ul.contents
    %li.active
      = partial 'projects/tasks/list'
