%section.tree.project-tasks-list.project-tasks-list-initialized.project-tasks-list-show-groups{role: 'project-tasks-list'}
  .navbar.navbar-default.project-tasks-list-navbar
    .row
      .col-sm-4
        %form.navbar-form.navbar-left
          .form-group
            .checkbox.project-tasks-list-navbar-checkbox
              %label{role: 'project-tasks-list-select-all'}
                %input.project-tasks-list-navbar-checkbox-input{type: 'checkbox'}
                Выбрать все
            .checkbox.project-tasks-list-navbar-checkbox
              %label{role: 'project-tasks-list-toggle-groups'}
                %input.project-tasks-list-navbar-checkbox-input{type: 'checkbox'}
                Скрыть группы
      .col-sm-3
        %form.navbar-form.navbar-left
          %select.form-control.input-sm
            - tasks_filter = ['К выполнению', 'Завершённые', 'Черновики', 'Задачи на сегодня', 'Задачи по участникам']
            %option{selected: 'selected'} Все задачи
            - tasks_filter.each do |f|
              %option= f
      .col-sm-5
        .navbar-form.navbar-right
          = link_to 'Добавить группу', '#', class: 'btn btn-default btn-sm'
        .navbar-form.navbar-right
          = link_to 'Добавить задачу', '#', class: 'btn btn-default btn-sm', role: 'project-tasks-list-add-task-btn'
        .clearfix
    .project-group-header-actions-fixed.hide{role: 'project-group-header-actions'}
      .navbar-form.navbar-left
        = link_to 'Преобразовать в задачу', '#', class: 'btn btn-default btn-sm'
      .navbar-form.navbar-left
        = link_to 'Отменить', '#', class: 'btn btn-default btn-sm'
      .navbar-form.navbar-left
        = link_to 'Преобразовать в черновик', '#', class: 'btn btn-default btn-sm'
      .navbar-form.navbar-left.pull-right
        %select.form-control.input-sm
          - tasks_filter = ['Группа 2', 'Группа 3', 'Группа 4']
          %option{selected: 'selected'} Изменить группу
          - tasks_filter.each do |f|
            %option= f
      .clearfix





  %ul.contents
    %li.active
      = partial 'projects/tasks/list'
