---
body_class: conversations-index
---

= partial 'shared/header'
.content.content-global.display-mode{"data-initial-action" => "index", :filters => "true", :full_view => "true", :list => "true", "role-display-mode" => "ready", :view => "false"}
  = partial 'communities/top_panel'
  = partial 'shared/navigation'

  %section.view-column.content-column-block-under-top-panel
    %ul.nav.nav-tabs.tab-buttons.tabnav.container-grey
      %li.active
        %a{"data-toggle" => "tab", :href => "#messages-tab"}
          Сообщения
          %span.badge{:role => "counter"} 5
      %li
        %a{"data-toggle" => "tab", :href => "#comments-tab"}
          Комментарии
          %span.badge{:role => "counter"} 5

    .tab-content.tab-panels
      #messages-tab.tab-pane.active
        = partial 'conversations/messages_list'
      #comments-tab.tab-pane
        = partial 'conversations/comments_list'


