- nav = data.navigation
- active = locals[:active] || -1

%nav.nav-global.menu-list.menu-list-initialized{"data-channel" => "presence-1757:notifications", "data-remote" => "true"}
  .logo
    %a{href: "/", title: "IQ300 System"}
      = image_tag 'logo_x1_new.png'
      = image_tag 'logo_x2_new.png'
  %ul
    - nav.each_with_index do |(k, v), i|
      %li.menu-item{class: "#{k} #{active == k ? 'active' : ''}"}
        = link_to "/#{k}/" do
          .picture
            - if v.icon.present?
              %i{class: "iq-navicons-#{v.icon}"}
            - else
              %i{class: "iq-navicons-#{k}"}
            - if v.counter.present?
              %sup= v.counter
            - if v.counter_overdue.present?
              %sup.overdue= v.counter_overdue
          %span= v.title


