- id = locals[:id]
- title = 'Наладка инфраструктуры для Минкомсвязи, разработать план наладки инфраструктуры для Минкомсвязи, разработать план наладки инфраструктуры для Минкомсвязи, разработать план наладки инфраструктуры для Минкомсвязи'
- text = 'В первую очередь взгляд останавливается на особенностях во многом похожих офисов разных дизайнерских компаний. У всех — open space, разделенный не по проектам, а по специальностям, а еще аймаки, переговорные, кухни, библиотеки и пространства для презентаций. В местах общественного пользования, помимо обязательных стендов с лучшими проектами и наградами, расставлены душевные вещички, каждая со своей историей.'
- if rand(4) % 2 == 1
  - status = 'new'
- type = locals[:type]
- type_activity = locals[:type_activity]
- children_count = locals[:children_count] || 0

.row
  .col-md-1
    %div
      = "#{8 + rand(12)}:#{10 + rand(49)}"
      - if locals[:pin]
        &nbsp;
        %a.btn-pin{class: locals[:pinned] ? 'active' : ''}
          %i.fa.fa-thumb-tack.icon-rotate-30
  .col-md-8
    .media
      %a.pull-left{:href => "/users/203"}
        %img.user-avatar.media-object.img-corrector-initialized{:alt => "Александр", :hide_wait_message => "true", :src => "https://iq300.s3.amazonaws.com/uploads/user_profile/photo/1394/medium_fc37398f-9139-41cd-be1c-1d252d5f50f8.jpg", :title => "Мещеряков Александр"}
      .media-body
        .notification-list-item-description
          %a{:href => "/users/203"}
            Александр Мещеряков
          = type_activity
          %br
          = truncate(text, length: 200)
          %a{href: ''}
            Подробнее
            %i.fa.fa-angle-right
  .col-md-3
    %small.text-muted.notification-type
      = type
      = id
    .notification-list-item-title
      %a.notification-name{href: ''}
        %strong= truncate(title, length: 50)


