%table.table{role: 'list-view-switch'}
  %thead
    %tr
      - data.crm.clients.attributes.each_pair do |k, v|
        %th= v
  %tbody
    - data.crm.clients.data.each do |c|
      %tr
        - data.crm.clients.attributes.each_pair do |k, v|
          %td{class: "crm-clients-list-#{k}"}
            -# if c.send(k.title).present?
              = c.send(k)
            - if k.to_s == "stage"
              %strong{class: "text-color-#{c.stage.color}"}= c.stage.title
              %br
              .text-muted
                - for i in 1..4
                  %i.fa.icon-size-8{class: "#{i <= c.stage.position ? 'fa-circle' : 'fa-circle-o'}"}
            - elsif c.send(k).is_a? Hash
              %a{href: "#{c.send(k).link.present? ? c.send(k).link : ''}"}
                - if k.to_s == "client"
                  %strong= c.send(k).title
                - else
                  = c.send(k).title
            - else
              = c.send(k)

.crm-clients-list{role: 'list-view-switch', style: 'display: none;'}
  - data.crm.clients.data.each do |c|
    .panel.panel-default
      .panel-body
        .row
          .col-md-4
            .content-group-xs
              %a{href: ''}
                %strong= c.client.title
            %span.label.label-success= c.category
          .col-md-2
            %small.text-muted Контакт
            %br
            %a
              = c.contact.title
          .col-md-2
            %small.text-muted Ответственный
            %br
            %a
              = c.responsible.title
          .col-md-2
            %small.text-muted Последняя активность
            %br
            %a
              = c.last_activity.title
          .col-md-2
            %strong{class: "text-color-#{c.stage.color}"}= c.stage.title
            %br
            .text-muted
              - for i in 1..4
                %i.fa.icon-size-8{class: "#{i <= c.stage.position ? 'fa-circle' : 'fa-circle-o'}"}


