---
body_class: projects-new
nav_item: projects
---

.application-content
  .application-content-top-panel
    = partial 'projects/new/top_panel'
    = partial 'projects/new/navigation'
  .application-content-block
    %form#new_project.projects-form{:action => "/projects"}
      .container-fluid
        .row
          .col-sm-7.col-sm-offset-2
            %div{:style => "margin:0;padding:0;display:inline"}
              %input{:name => "utf8", :type => "hidden", :value => "✓"}
              %input{:name => "authenticity_token", :type => "hidden", :value => "c7G+eXfYvyf3DE8wZOs6br5Ie9CYtG4AUUsidktbgA8="}/
            .project-form.container-centered
              .form-horizontal.project-form-info{"data-step" => "info", :role => "form-step", :style => "display: block;", "test-project-info-form" => ""}
                = partial 'projects/new/info'
              .form-horizontal.project-form-description{"data-step" => "description", :role => "form-step", :style => "display: none;", "test-project-description-form" => ""}
                = partial 'projects/new/description'
      .form-gray.project-step-team{"data-step" => "team", :role => "form-step", :style => "display: none;"}
        = partial 'projects/new/team'


#select2-drop-mask.select2-drop-mask{:style => "display: none;"}
#select2-drop.select2-drop.select2-display-none.select2-with-searchbox.select2-drop-active{:style => "left: 537.5px; width: 458px; top: 332px; bottom: auto; display: none;"}
  .select2-search
    %input.select2-input{:autocapitalize => "off", :autocomplete => "off", :autocorrect => "off", :spellcheck => "false", :type => "text"}/
  %ul.select2-results
    %li.select2-results-dept-0.select2-result.select2-result-selectable.select2-highlighted
      .select2-result-label
        %span.select2-match>
        Александр Мещеряков
