---
body_class: projects-new
nav_item: projects
layout: application_modular
---

- content_for :top_panel do
  = partial 'projects/new/top_panel'
  = partial 'projects/new/navigation'
%form#new_project.projects-form{:action => "/projects/show/details_after_save"}
  .container-fluid
    .row
      .col-sm-7.col-sm-offset-2
        .project-form.container-centered
          .form-horizontal.project-form-info{"data-step" => "info", :role => "form-step", :style => "display: block;", "test-project-info-form" => ""}
            = partial 'projects/new/info'
          .form-horizontal.project-form-description{"data-step" => "description", :role => "form-step", :style => "display: none;", "test-project-description-form" => ""}
            = partial 'projects/new/description'
  .form-gray.project-step-team{"data-step" => "team", :role => "form-step", :style => "display: none;"}
    = partial 'projects/new/team'

