.row
  .col-sm-9.col-md-10
    = partial 'communities/profile/today'
    %hr.content-group
    = partial 'communities/profile/tasks_stats'
    %hr.content-group
    = partial 'communities/profile/activity'
    %hr.content-group
    = partial 'communities/profile/contacts'
    %hr.content-group
    = partial 'communities/profile/partner_card'

  .col-sm-3.col-md-2
    .community-profile-details-stats
      .community-profile-details-stats-heading
        .community-profile-details-stats-title Руководитель
      .community-profile-details-stats-body
        %img.community-profile-details-stats-image{:src => "/images/community/2.png", :alt => ""}/
        %br
        %a{:href => "#"} Борис Сергеев

    .community-profile-details-stats
      .community-profile-details-stats-heading
        .community-profile-details-stats-title Владелец
      .community-profile-details-stats-body
        %img.community-profile-details-stats-image{:src => "/images/community/2.png", :alt => ""}/
        %br
        %a{:href => "#"} Антонина Собянина

    .community-profile-details-stats
      .community-profile-details-stats-heading
        .community-profile-details-stats-title Индекс активности
      .community-profile-details-stats-body
        .text-primary 9.7

