- nav = data.communities_navigation
- active = locals[:active] || -1
%ul.nav.nav-tabs.tab-buttons.tabnav.container-grey
  - nav.each_with_index do |(k, v), i|
    %li{class: "#{k} #{active.to_s == k.to_s ? 'active' : ''}"}
      - if active == 'billing'
        %a.nav-tab-item-btn{"data-toggle" => "tab", :href => "[role='community-billing']"}
          %span.nav-tab-item-btn-label
            %i.fa.fa-credit-card
            Оплата
      - else
        = link_to "/communities/profile/#{k}/" do
          = v.title
          - if v.counter.present?
            %small.text-muted= v.counter

