---
body_class: communities-profile
nav_item: communities
layout: application_modular
---

= partial 'communities/profile/header'
= partial 'communities/profile/tabs'
.tab-content.tab-panels
  #community-profile.tab-pane.active
    .tab-content.tab-panels.page-content
      = partial 'communities/profile/details'

  #community-projects.tab-pane
    .tab-content.tab-panels.page-content
      = partial 'communities/profile/projects'

  #community-tasks.tab-pane
    .tab-content.tab-panels.page-content
      = partial 'communities/profile/tasks'

  #community-members.tab-pane
    .tab-content.tab-panels.page-content
      = partial 'communities/profile/participants'

  #community-departments.object-details.community-departments-tab.undefined.tab-pane
    .tab-content.tab-panels.page-content
      -#= partial 'communities/profile/departments'
      = partial 'communities/profile/departments_rules'

  #community-roles-edit.tab-pane
    .tab-content.tab-panels.page-content
      = partial 'communities/profile/roles_edit'

  -##community-actions.tab-pane
    = partial 'communities/profile/actions'

  #community-partners.tab-pane
    .tab-content.tab-panels.page-content
      = partial 'communities/profile/partners'

  #community-partners-edit.tab-pane
    .tab-content.tab-panels.page-content
      = partial 'communities/profile/partners_edit'

  #community-reports.tab-pane
    .tab-content.tab-panels.page-content
      = partial 'communities/profile/reports'

  #community-calendar.tab-pane
    .tab-content.tab-panels.page-content
      = partial 'communities/profile/calendar'

  .tab-pane{role: 'community-billing'}
    = partial 'communities/profile/billing'

