---
body_class: communities-profile
nav_item: communities
---

.application-content
  .application-content-top-panel
    = partial 'communities/top_panel'

  .application-content-block
    %section
      .form-container.container-grey
        .tabs-page-header
          .row
            .col-sm-2
              .fluid-square
                %a{:href => "#"}
                  %img.fluid-square-content{:src => "/images/community/2.png", :alt => ""}/
            .col-sm-10
              .content-group
                %h2.content-heading
                  ООО «Старбакс»
                  %small 123
                %h4.content-heading Кабельные и беспроводные сети. Оборудование для IT-коммуникаций
                %ul.list-inline
                  %li +7 (8552) 30-55-42
                  %li
                    %a{:href => "#"} http://www.starbucks.com
              .tabs-page-header-actions
                %a.btn.btn-default{:href => "#"} Написать сообщение

      = partial 'communities/profile/tabs'
      .tab-content.tab-panels
        #community-profile.tab-pane.active
          = partial 'communities/profile/details'

        #community-members.tab-pane
          = partial 'communities/profile/participants'

        #community-departments.object-details.community-departments-tab.undefined.tab-pane
          = partial 'communities/profile/departments'

        #community-roles-edit.tab-pane
          = partial 'communities/profile/roles_edit'

        #community-actions.tab-pane
          = partial 'communities/profile/actions'

        #community-partners.tab-pane
          = partial 'communities/profile/partners'

        #community-partners-edit.tab-pane
          = partial 'communities/profile/partners_edit'

        #community-reports.tab-pane
          = partial 'communities/profile/reports'

        .tab-pane{role: 'community-billing'}
          = partial 'communities/profile/billing'

