---
body_class: projects-show
---

= partial 'shared/header'
.content.content-global.display-mode.display-mode-initialized{"data-initial-action" => "show", filters: "false", full_view: "true", list: "false", view: "true"}
  = partial 'projects/top_panel'
  = partial 'shared/_navigation'
  = partial 'projects/list_filters'
  = partial 'projects/projects_list'
  %section.view-column.projects-view-column.projects-view-column-initialized{"data-channel" => "private-project-879:update", "data-channel-template" => "private-project-%id%:update", "data-id" => "879", "data-url" => "/projects"}
    %section.task-view-column.disable-initializer{"data-channel-template" => "private-base_task-%id%:update", "data-url" => "/tasks"}
    #project-tab-pane.column-content
      #project-details.object-details
        = partial 'projects/show/header'
        = partial 'projects/tab_navigation', locals: {active_item: 0}
        .project-body
          = partial 'projects/status'
          -#%ul.project-details
            %li
              %a.scroll{"data-target" => ".project-body", href: "#tasks"} 9 задач
            %li
              %a{href: "#members"} 7 участников
            %li
              %a{href: "#documents"} 15 документов
          .row
            .col-md-4
              %h4.project-show-section-title
                Задачи
                %small.text-muted 5/20
              %table.table.table-condensed
                %tr
                  %td В работе: 5
                %tr.text-color-danger
                  %td Просрочено: 2
                %tr
                  %td Выполнено: 10
                %tr
                  %td Черновики: 3
                %tr
                  %td Отменённые: 10

            .col-md-7.col-md-offset-1
              %h4.project-show-section-title Сводная информация
              %table.table.table-condensed
                %tr
                  %td Руководитель проекта
                  %td= link_to 'Василий Петров', '#'
                %tr
                  %td Начало проекта
                  %td 12 июня 2014
                %tr
                  %td Инициатор проекта
                  %td= link_to 'Михаил Васильев', '#'
                %tr
                  %td Основное сообщество
                  %td= link_to 'Название сообщества', '#'
                %tr
                  %td Сообщества&ndash;участники
                  %td= link_to 'Название сообщества', '#'
          -#%hr
          -#%h4 Участники
          %hr
          .project-show-information
            - project_sections = ['Описание проекта', 'Основание проекта', 'Цель', 'Результаты', 'Критерии успеха', 'Риски']
            - project_sections.each do |section|
              .row
                .col-md-3
                  %h5
                    %strong= "#{section}"
                .col-md-9
                  = data.projects.project.description
              %hr



          -#= partial 'projects/people_section'
